* {
  background-color: lightgrey;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
}

.topbar img {
  width: 50px;
  height: 100%;
  position: absolute;
  margin-top: 0;
  cursor: pointer;
}

.topbar img:hover {
  opacity: 70%;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  width: 300px;
  padding: 0 5px;
  z-index: 1000;
}

.nav-sidebar ul {
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  border: solid lightgrey 2px;
  list-style-type: none;
  width: 300px;
  margin-left: -50px;
  align-items: left;
  opacity: 0%;
}

.nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  opacity: 100;
}

.nav-sidebar ul li a :hover {
  opacity: 70%;
}

#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#purple {
  background-color: purple;
}
#green {
  background-color: green;
}

.red-bg {
  background-color: red;
}

.orange-bg {
  background-color: orange;
}
.purple-bg {
  background-color: purple;
}
.green-bg {
  background-color: green;
}
